:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noPadding {
  padding: 0 !important;
}

.hidden {
  display: none !important;
}

.container {
  display: flex;
  justify-content: center;
}

ul li {
  margin-bottom: 32px;
  list-style-position: inside;
}

.floatingButtons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  bottom: 10px;
  gap: 8px;
}

.floatingButtons button {
  border-radius: 50%;
  border: 1px solid transparent;
  width: 48px;
  height: 48px;
  background-color: #1e2f30;
  cursor: pointer;
  transition: background-color 0.25s;
}

.floatingButtons button:hover {
  background-color: #07cda2;
  color: black;
}

#editForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

#editForm input {
  width: 400px;
  height: 30px;
  padding: 8px;
}

#editForm button {
  width: 400px;
  height: 30px;
  background-color: #1e2f30;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
#editForm button:hover {
  background-color: #07cda2;
  color: black;
}

#floatingForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#table-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#select-table {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  position: relative;
}

#select-table #model1,
#select-table #model2 {
  width: 400px;
  height: 30px;
  background-color: #1e2f30;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
#select-table #model1:hover,
#select-table #model2:hover {
  background-color: #07cda2;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table-buttons {
  display: flex;
  gap: 16px;
}

.chart-buttons {
  display: flex;
  gap: 16px;
}

#chart-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#select-chart {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  position: relative;
}

#select-chart #bar-chart,
#select-chart #pie-chart {
  width: 400px;
  height: 30px;
  background-color: #1e2f30;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
#select-chart #bar-chart:hover,
#select-chart #pie-chart:hover {
  background-color: #07cda2;
}

#table2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#table2 h1 {
  font-size: 24px;
  margin-top: 16px;
}

#table2-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

#table2-form input {
  height: 30px;
  padding: 8px;
  min-width: 100px;
  text-align: center;
}

#add-second-table {
  height: 30px;
  background-color: #1e2f30;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
#add-second-table:hover {
  background-color: #07cda2;
}

.invisible-button {
  height: 30px;
  background-color: #1e2f30;
  border: none;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: background-color 0.25s;
}
.invisible-button:hover {
  opacity: 1;
}

.bold-text {
  font-weight: bold;
}

.radio-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

#close-table-options {
  position: fixed;
  width: 30px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
}

.tableTitle {
  width: 100%;
  color: black;
  font-size: 16px;
  height: 30px;
  padding: 8px;
  border: none;
  background-color: inherit;
  text-align: center;
}

.tableSubtitle {
  width: 100%;
  color: black;
  font-size: 16px;
  height: 30px;
  padding: 8px;
  border: none;
  background-color: inherit;
  text-align: center;
  text-transform: uppercase;
}

.home-title {
  position: absolute;
  z-index: 1;
  font-size: 32px;
  max-width: 1000px;
  text-align: center;
  margin-top: 64px;
  text-transform: uppercase;
  color: white;
}

.home-subtitle {
  position: absolute;
  z-index: 1;
  font-size: 32px;
  max-width: 1000px;
  text-align: center;
  margin-top: 570px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.backgroundHome {
  background: url(/capa.jpg) no-repeat center;
  background-size: 100%;
  width: 29.7cm;
  height: 21cm;
  position: relative;
}

.backgroundSecondPage {
  background: url(/second-page-horizontal.jpg) no-repeat center;
  background-size: 100%;
  width: 29.7cm;
  height: 21cm;
  position: relative;
}

.logo {
  width: 700px;
  height: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.a4Chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.a4 {
  padding: 32px 16px;
  width: 29.7cm;
  height: 21cm;
  position: relative;
  background: url(/anova-background.svg) no-repeat center;
  background-size: 100%;
  z-index: 0;
  margin-bottom: 2px solid;
}

.copyright {
  position: fixed;
  top: 8px;
  width: 100%;
  text-align: center;
  color: rgba(255, 0, 0, 0.5);
}

.a4 .title,
.a4 p {
  z-index: 2;
}

.a4 p {
  margin-bottom: 32px;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 64px;
}

.title-two {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.title-sample-profile {
  text-align: center;
  font-size: 32px;
}

.infoBottom {
  font-size: 14px;
  background-color: #1e2f30;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.multiline-input {
  height: auto;
  overflow-y: auto;
  resize: none;
  margin-left: 40px;
}

.multiline-input-no-margin {
  height: auto;
  overflow-y: auto;
  resize: none;
}

.text-center {
  text-align: center;
}

.infoBottom p {
  margin: 0;
}

.table {
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 50px;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px;
  cursor: pointer;
  border: none;
  opacity: 0;
  border-radius: 4px;
  background-color: #1e2f30;
}

.delete-button:hover {
  opacity: 1;
}

.update-chart-button {
  position: absolute;
  bottom: 50px;
  left: 10px;
  padding: 8px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
  border-radius: 4px;
  background-color: #96be29;
}

.update-chart-button:hover {
  opacity: 1;
  color: black;
}

.sample-profile {
  display: flex;
  justify-content: center;
}

.div-chart {
  height: 80%;
  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.tableHead {
  border-top: 3px solid #000000;
  background-color: #A8CE91;
}

.totalRow {
  background-color: #A8CE91;
  font-weight: bold;
}

.tableHead th {
  font-size: 10px;
  text-align: center;
  padding: 8px 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.headerChild th {
  text-transform: capitalize !important;
  min-width: 50px;
  word-wrap: break-word;
}

.tableHead tr:first-child th:first-child {
  width: 150px;
}

.tableBody tr td:first-child {
  text-align: left;
}

.editableHeader {
  color: #000000;
  font-size: 10px;
  width: 100%;
  font-weight: bold;
  padding: 5px;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
}

td,
th {
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

td:last-child,
th:last-child {
  border-right: none;
}

.noPadding td {
  padding: 0 !important;
}

.tableBody {
  font-size: 11px;
  text-align: center;
  text-transform: capitalize;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  padding: 16px 0;
  text-align: center;
  background-color: #ffffff;
}

.tableBody td {
  padding: 4px;
}

.lastPage {
  display: flex;
  background: url(/contracapa.jpg) no-repeat center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-collapse: collapse;
}

.results-presentation-title h1 {
  border: 2px solid #1e2f30;
  padding: 8px;
  border-radius: 5px 5px 0 0;
}

.results-presentation-title p {
  background-color: #1e2f30;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.lastPageInfo h1 {
  margin-bottom: 32px;
}

.lastPageInfo p {
  margin: 0;
  text-align: center;
}

.table-headers-section {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.table-headers-section h3 {
  margin-bottom: 15px;
  color: #333;
}

.headers-container {
  display: flex;
  flex-direction: column;
}

.header-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-item input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 30px;
}

.header-item input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 30px;
}

.header-item input[type="number"][readonly] {
  background-color: #f0f0f0;
}

.header-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
